{{> menu}}

<section class="ui center aligned middle aligned segment">

  <h1 class="ui header">
    Welcome to the Restaurant Collection App
  </h1>

  <p>
    The Restaurant Collection App allows users to explore a variety of restaurants
    organised by cuisine type.
  </p>

  <img src="/images/resimage2.jpg" class="ui centered large rounded image">

</section>

{{> footer}}